<div class="field">
  <%= f.label :name, class: "label" %>
  <%= f.text_field :name, class: "input" %> <br/>
</div>
<div class="field">
  <%= f.label :instructions, class: "label" %>
  <%= f.text_area :instructions, class: "input" %> <br/>
</div>
<div class="field">
  <%= f.label :notes, class: "label" %>
  <%= f.text_area :notes, class: "input" %> <br/>
</div>

<div class="label">Ingredients</div>
<%= f.fields_for :ingredients do |ingredient| %>
  <%= render "ingredient_fields", f: ingredient %>
<% end %>
<div class="links">
  <%= link_to_add_association "Add ingredient", f, :ingredients %>
</div>
