<div class="box recipe">
  <h1><%= @recipe.name %></h1>

  <h2>Ingredients</h2>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
    <li>
      <%= ingredient.format_for_display %>
    </li>
    <% end %>
  </ul>

  <h2>Instructions</h2>
  <%= @recipe.instructions %>

  <% if @recipe.notes.present? %>
    <h2>Notes</h2>
    <%= @recipe.notes %>
  <% end %>

  <%= button_to "Edit recipe", edit_user_recipe_path(current_user, @recipe), method: :get, class: "button", id: "edit-recipe-btn" %>
  <%= button_to "Delete recipe", user_recipe_path(current_user, @recipe), method: :delete, class: "button", data: { confirm: "Are you sure you want to delete this recipe?"} %>
</div>
