<div id="user-profile">
  <h1 id="user-welcome">
    <%= "Welcome, #{current_user.username}!" %>
  </h1>

  <div class="columns">
    <div class="column">
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <div class="content">
            <p class="title">Recipes</p>

            <div class="content">
              <% current_user.recipes.alphabetized.each do |recipe| %>
                <%= link_to recipe.name, user_recipe_path(current_user, recipe) %>
                <br/>
              <% end %>

              <%= button_to "Add a recipe", new_user_recipe_path(current_user), method: :get, class: "button", id: "add-recipe-btn" %>
            </div>

          </div>
        </article>
      </div>
    </div>

    <div class="column">
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <div class="content">
            <p class="title">Grocery list</p>
            <p class="subtitle">
              <%= "Generated #{current_user.grocery_list.created_at}" if current_user.grocery_list %>
            </p>

            <div class="content">
              <% if current_user.grocery_list %>
                <%= "Grocery list for recipes: #{current_user.grocery_list.recipes.map(&:name).join(", ")}" %>
                <ul>
                  <% current_user.grocery_list.grocery_list_items.each do |item| %>
                    <li><%= "#{item.amount} #{item.name.downcase}" %></li>
                  <% end %>
                </ul>
              <% end %>

              <%= button_to "Create new grocery list", new_user_grocery_list_path(current_user), method: :get, class: "button" %>
            </div>

          </div>
        </article>
      </div>
    </div>
  </div>
</div>
