<!DOCTYPE html>
<html>
  <head>
    <title>GroceryListGenerator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="nav-bar">
    <% if current_user %>
      <%= button_to "Log Out", logout_path, method: :delete, id: "log-out-btn" %>
    <% end %>
  </div>

  <body>
    <% flash.each do |_, msg| %>
      <div class="flash-msg">
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
